*{
    margim: 0; /*deixa margem esquerda e direita nula*/
    padding: 0 ; /*deixa a margem superior e inferioir nula*/
    box-sizing: border-box /* cria uma caixa invisível para o corpo do site*/;
}


.topo{
background-color: black;/* cor do fundo do topo do site*/
height: 15vh; /* tamanho do topo do site 15% da tela*/
}
.imagem img {border-radius: 50;
}
wid










